.red {
  color: red;
}
.black {
  color: black;
}
.input {
  border: none;
  box-shadow: 0 0 4px black;
  border-radius: 5px;
  padding: 0px 10px;
}
.input_type_big {
  height: 36px;
  width: 100%;
  font-size: 27px;
}
